@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body {
width: 100%;
height: 100%;
margin: 0 auto;
background-color: rgb(255, 255, 255);
}





.menu-principal {
width: 100%;
background-color: #ffffff;
height: 90px;
}

.top5 h1{
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 50px;
    width: 600px;
    height: 0px;
    color: rgb(0, 46, 83);
}
.logo {
 float: left;
 height: 10%;
}

.logo img{
 width: 80px;
 padding-left: 50px;
}

.redes-sociais ul li {
display: inline-block;
list-style: none;
padding-top: 10px;

}

.redes-sociais {
float: right;
font-size: 30px;
padding-right: 50px;
}


.icon-color{
    color: rgb(0, 46, 83);
}


.header-2{
    background-color:rgb(0, 46, 83);
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-left: 0%;
    margin: 0 auto;
    text-align: center;
}

.header-2 ul li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 auto;
    padding-left: 40px;
    text-align: center;
}

.menu-text{
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.coluna{
    padding-left: 50px;
    padding-right: 50px;
    height: 300px;
    padding-top: 50px;
}
.pais img{
 float: left;
 height: 300px;
 width: 600px;
}

.pais p{
float:right ;
text-align: end;
width: 600px;
font-family: 'Vollkorn', serif;
line-height: 1.8;
font-size: 17px;
margin: 0 auto;
}

.nome-pais h2{
    font-family: 'Dela Gothic One', cursive;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    margin: 0 auto;
}

.bandeira{
width: 100%;
text-align: center;
}

.bandeira img{
    width: 150px; 
}

hr {
    border: 1px solid rgb(0, 46, 83);
    border-radius: 3px;
  }

.borda{
margin-top: 100px; 
width: 40%;  
}


.saiba-mais i {
    font-size: 15px;
    color: black;
}



#button-addon1 {
    color: #ffc371;
  }
  
  i {
    color: #ffc371;
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  
  .form-control.shadow-0:focus {
    box-shadow: none;
  }
  


